.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav--title {
  font-size: 1.7rem;
  font-weight: bold;
}

.icons {
  display: flex;
  text-align: center;
}

.icon-grey {
  color: #718096;
}