body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";;
  margin: 0% 25%;
}

.container {
  height: calc(100vh - 3px);
  position: relative;
}

.mr-5 {
  margin-right: 5px;
}

hr.border {
  width: 100%;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.modal {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  margin-top: 2rem;
  width: 100%;
  background-color: black;
  color: white;
  height: 40px;
}